<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

sns.set_style("whitegrid", {'axes.grid' : False})

# from tqdm.notebook import tqdm
from tqdm.auto import tqdm

# Data

In [16]:
df = pd.read_csv('../data/transactions_train.csv')

In [17]:
df = df.sort_values(['client_id', 'trans_date'])

In [18]:
y = pd.read_csv('../data/train_target.csv')

In [19]:
df = pd.merge(df, y, on='client_id')

In [20]:
df.head()

   client_id  trans_date  small_group  amount_rur  bins
0          4           0            1      10.209     1
1          4           2            3      27.706     1
2          4           3            1      13.024     1
3          4           4            1      17.632     1
4          4           6            4      18.089     1